form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* input containers */
form > div:not(.alert) {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/* invalid field text */
form small {
  color: var(--red);
}

form label {
  color: var(--subtext1);
  line-height: 1.25rem;
}

/* required asterisk */
form label strong {
  color: var(--red);
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 1rem;
  color: var(--text);
  font-weight: 400;

  background-color: var(--base);

  border-radius: var(--radius);
  border: none;
  outline: 1px solid var(--overlay1);
}

/* Show invalid outline if invalid and not focused and not placeholder (empty text) */
input:invalid:not(:focus):not(:placeholder-shown) {
  outline: 2px solid var(--red);
}

:focus {
  outline: 2px solid var(--mauve);
}

:disabled {
  background-color: var(--mantle);
  outline: 1px solid var(--surface0);
  color: var(--overlay1);
  fill: var(--overlay1);
  stroke: var(--overlay1);
  cursor: default !important;
}

input[type="text"] {
  padding: 0.25rem 0.5rem;
}

input[type="checkbox"] {
  width: 1.1rem;
  height: 1.1rem;
  margin: 0;
  cursor: pointer;
}
input[type="checkbox"]:checked:not(:disabled) {
  background-color: var(--mauve);
  outline: none;
}
input[type="checkbox"] ~ label {
  line-height: 1.1rem;
}
input[type="checkbox"] ~ svg {
  position: absolute;
  width: 1.1rem;
  height: 1.1rem;
  pointer-events: none;
  color: var(--base);
  opacity: 0;
}
input[type="checkbox"]:checked ~ svg {
  opacity: 1;
}
input[type="checkbox"]:checked:disabled ~ svg {
  color: var(--surface1);
}

button {
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: inherit;
  font-size: 1rem;
  color: var(--text);
  cursor: pointer;

  background-color: var(--base);
  outline: 1px solid var(--overlay1);
  border: none;
  border-radius: var(--radius);
}

button:hover {
  background-color: var(--surface1);
}

button:active {
  background-color: var(--surface0);
}

button > svg {
  height: 1.25rem;
  margin-right: 0.5rem;
}
