:root {
  --radius: 0.25rem;
}

.column {
  width: min(38rem, 100%);
}

footer {
  height: 2rem;
  padding: 0.5rem;
}

footer a.button {
  color: var(--overlay1) !important;
  fill: var(--overlay1) !important;
  stroke: var(--overlay1) !important;
}

footer > a.button:hover {
  color: var(--subtext1) !important;
  fill: var(--subtext1) !important;
  stroke: var(--subtext1) !important;
}

header {
  height: 2rem;
  padding: 0.5rem;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  padding: 1rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

hr {
  color: var(--subtext0);
}

.hr {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.hr > div.hr-line {
  height: 0.1rem;
  flex-grow: 1;
  background-color: var(--subtext0);
}
.hr > div.hr-text {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--subtext0);
  fill: var(--subtext0);
  outline: var(--subtext0);
  text-align: center;
}
