:root {
  font-size: 18px;
  caret-color: var(--rosewater);
}

@font-face {
  font-family: "Quicksand";
  src:
    local("Quicksand"),
    url("./fonts/Quicksand.ttf") format(opentype) tech(variations);
  font-weight: normal;
  font-variation-settings: "wght" 500;
}

@font-face {
  font-family: "Fira Code";
  src:
    local("Fira Code"),
    url("./fonts/FiraCode.ttf") format(opentype) tech(variations);
  font-weight: normal;
  font-variation-settings: "wght" 400;
}

@font-face {
  font-family: "Nunito";
  src:
    local("Nunito"),
    url("./fonts/Nunito.ttf") format(opentype) tech(variations);
  font-weight: normal;
  font-variation-settings: "wght" 400;
}

@media (min-width: 320px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 641px) {
  :root {
    font-size: 19px;
  }
}

@media (min-width: 1281px) {
  :root {
    font-size: 20px;
  }
}

:root {
  --font-headings: "Quicksand";
  --font-text: "Nunito";
  --font-code: "Fira Code";
}

body {
  font-family:
    var(--font-text), sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--text);
  fill: currentColor;
  stroke: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family:
    var(--font-headings), var(--font-text), sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

b,
strong {
  font-weight: bolder;
}

pre, code {
  font-family:
    var(--font-code), monospace;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  font-size: 0.9rem;
  background-color: var(--mantle);
  border-radius: var(--radius);
}

pre {
  line-height: 1.5;
  width: calc(100% - 2rem);
  padding: 1rem;
  overflow-x: auto;
}

aside {
  color: var(--subtext0);
  font-size: 0.9rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.title > svg {
  height: 2.5rem;
}

a {
  border-radius: var(--radius);
  color: var(--blue);
}
a:visited {
  color: var(--mauve);
}
